button {
  border: none;
  margin: 5px;
  padding: 10px;
  background-color: #333;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  color: white;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: translateY(-2px); 
}

button:active {
  transform: translateY(0px);
}